### Carga librerias necesarias

In [10]:
import pandas as pd 
import numpy as np
import os
from pandas import concat

## Carga del los dataset correspondientes al año 2022

In [11]:
# Se cargan los csv de cada mes en una lista
file_names = os.listdir('../data/Anio22/')
file_names

['abr_mo22.csv',
 'ago_mo22.csv',
 'dic_mo22.csv',
 'ene_mo22.csv',
 'feb_mo22.csv',
 'jul_mo22.csv',
 'jun_mo22.csv',
 'mar_mo22.csv',
 'may_mo22.csv',
 'nov_mo22.csv',
 'oct_mo22.csv',
 'sep_mo22.csv']

In [12]:
# Se recorre la lista para crear un único dataset
df_aire = pd.DataFrame()
for file_name in file_names:
    df_current = pd.read_csv('../data/Anio22/' + file_name, delimiter=';')
    print(file_name, df_current.shape)
    df_aire = pd.concat([df_aire, df_current], ignore_index=True)

abr_mo22.csv (3951, 56)
ago_mo22.csv (3960, 56)
dic_mo22.csv (4092, 56)
ene_mo22.csv (3929, 56)
feb_mo22.csv (3556, 56)
jul_mo22.csv (3968, 56)
jun_mo22.csv (3872, 56)
mar_mo22.csv (3946, 56)
may_mo22.csv (4059, 56)
nov_mo22.csv (3960, 56)
oct_mo22.csv (4092, 56)
sep_mo22.csv (3838, 56)

In [27]:
# 3. Filtrar por datos NO2
df_aire = df_aire[(df_aire['MAGNITUD'] == 8)]
df_aire.head()
df_aire.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,V20,H21,V21,H22,V22,H23,V23,H24,V24,fecha
47128,28,79,60,8,28079060_8_8,2022,9,26,3.0,V,...,V,28.0,V,19.0,V,17.0,V,15.0,V,2022-09-26
47129,28,79,60,8,28079060_8_8,2022,9,27,17.0,V,...,V,25.0,V,28.0,V,27.0,V,26.0,V,2022-09-27
47130,28,79,60,8,28079060_8_8,2022,9,28,29.0,V,...,V,14.0,V,11.0,V,11.0,V,7.0,V,2022-09-28
47131,28,79,60,8,28079060_8_8,2022,9,29,6.0,V,...,V,27.0,V,26.0,V,15.0,V,23.0,V,2022-09-29
47132,28,79,60,8,28079060_8_8,2022,9,30,11.0,V,...,V,21.0,V,22.0,V,28.0,V,36.0,V,2022-09-30

In [28]:
df_aire['fecha'] = pd.to_datetime(df_aire[['ANO','MES','DIA']].rename(columns = {'ANO': 'YEAR', 'MES': 'MONTH', 'DIA': 'DAY'}))

In [20]:


# 4. Añadir nueva columna fecha
estacion_NO2['fecha']=pd.to_datetime(estacion_NO2[['ANO','MES','DIA']].rename(columns = {'ANO': 'YEAR', 'MES': 'MONTH', 'DIA': 'DAY'}))

C:\Users\emona\AppData\Local\Temp\ipykernel_6244\504032120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estacion_NO2['fecha']=pd.to_datetime(estacion_NO2[['ANO','MES','DIA']].rename(columns = {'ANO': 'YEAR', 'MES': 'MONTH', 'DIA': 'DAY'}))

In [29]:


# 4. Extraer datos de medidas tomadas
data_columns = [ 'H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17', 'H18', 'H19', 'H20', 'H21', 'H22', 'H23', 'H24'] # feature
veri_columns = [ 'V01', 'V02', 'V03', 'V04', 'V05', 'V06', 'V07', 'V08', 'V09', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24']

hora_column = np.arange(1,25) # feature label

In [31]:


data = pd.DataFrame(columns=['hora', 'dato', 'verificado'])
aux = pd.DataFrame(columns=['ano', 'mes', 'dia', 'hora', 'dato', 'verificado', 'estacion']) # aux de próxima fila a ser añadida
for  (h,d,v) in zip(hora_column, data_columns, veri_columns): 
     aux['dato'] = df_aire [ data_columns[h-1] ] 
     aux['verificado'] = df_aire [ veri_columns[h-1] ] 
     aux['hora'] = h-1
     aux[['ano', 'mes', 'dia']] = df_aire[['ANO','MES','DIA']]
     aux['estacion'] = df_aire ['ESTACION']
     data = pd.concat([data, aux], ignore_index=True)
data = data.astype({'hora': 'int32'}, copy = False)

data.head(10)

   hora  dato verificado     ano  mes   dia  estacion
0     0  16.0          V  2022.0  4.0   1.0       4.0
1     0  13.0          V  2022.0  4.0   2.0       4.0
2     0  16.0          V  2022.0  4.0   3.0       4.0
3     0   8.0          V  2022.0  4.0   4.0       4.0
4     0  16.0          V  2022.0  4.0   5.0       4.0
5     0  14.0          V  2022.0  4.0   6.0       4.0
6     0  10.0          V  2022.0  4.0   7.0       4.0
7     0  15.0          V  2022.0  4.0   8.0       4.0
8     0   7.0          V  2022.0  4.0   9.0       4.0
9     0  37.0          V  2022.0  4.0  10.0       4.0

In [32]:

# Añadimos columna fecha de formato datetime
data['fecha'] = pd.to_datetime(data[['ano','mes','dia','hora']].rename(columns = {'ano': 'year', 'mes': 'month',
                                                                              'dia': 'day', 'hora': 'hour'}))

In [33]:

# Multi-index data frame con estacion y fecha :O
data.set_index(['estacion', 'fecha'], inplace=True)

In [34]:
# Usamos fecha como indice para cada estacion
data.set_index(['fecha'], inplace=True)

KeyError: "None of ['fecha'] are in the columns"